<div class="alert alert-danger" *ngIf="!form">{{ 'import_message' | translate }}</div>

<form *ngIf="form" [formGroup]="form">

  <div class="wrapper-list">
    <ul class="list-customer" attr.data-headline="{{ 'customer_headline' | translate }}">
      <ng-container *ngFor="let control of customerControls">
        <ng-container *ngTemplateOutlet="item; context: { control: control }"></ng-container>
      </ng-container>
    </ul>

    <ul class="list-payment" attr.data-headline="{{ 'payment_headline' | translate }}">
      <ng-container *ngFor="let control of paymentControls">
        <ng-container *ngTemplateOutlet="item; context: { control: control }"></ng-container>
      </ng-container>
    </ul>
  </div>

  <div class="wrapper-list">
    <ul class="list-invoice-one" attr.data-headline="{{ 'invoice_headline' | translate }}">
      <ng-container *ngFor="let control of invoiceOneControls">
        <ng-container *ngTemplateOutlet="item; context: { control: control }"></ng-container>
      </ng-container>
    </ul>

    <ul class="list-invoice-two" attr.data-headline-placeholder="{{ true }}">
      <ng-container *ngFor="let control of invoiceTwoControls">
        <ng-container *ngTemplateOutlet="item; context: { control: control }"></ng-container>
      </ng-container>
    </ul>
  </div>

  <ng-template #item let-control='control'>
    <li>
      <label [for]="control">{{ control | translate }}</label>
      <ng-container *ngIf="hasControl(control) && resolveControlType(control) === 'checkbox'">
        <input class="form-control" type="checkbox" [formControlName]="control" />
      </ng-container>
      <ng-container *ngIf="hasControl(control) && resolveControlType(control) === 'number'">
        <input class="form-control" type="number" [formControlName]="control" />
      </ng-container>
      <ng-container *ngIf="hasControl(control) && resolveControlType(control) === 'text'">
        <input class="form-control" type="text" [formControlName]="control" />
      </ng-container>
    </li>
  </ng-template>

  <app-item-calculator></app-item-calculator>

</form>
