@import '../shared/mixin';

:host {
  background: #f2f5f8;
  min-height: 92vh;
  display: block;
  flex: 1;
  padding: 2em 4em;
  position: relative;
  box-sizing: border-box;
  z-index: 3;
}

.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

[data-headline]:before {
  @include headline;
  margin-bottom: 2em;
}

@media screen and (max-width: 80em) {
  [data-headline]:not(.list-customer):before {
    margin-top: 2em;
  }
}

@media screen and (min-width: 80em) {
  [data-headline-placeholder]:before {
    display: block;
    content: '';
    height: 0.25em;
    margin-top: 2em;
  }
}

ul {
  flex: 1;
}

li {
  display: flex;

  + li {
    margin-top: 1em;
  }
}

label {
  font-size: 0.75em;
  font-weight: 600;
  flex-basis: 15em;
  color: #9fa9b6;
  align-self: center;
}

input {
  font-size: 0.875em;
  font-weight: 600;
}

@media screen and (min-width: 80em) {
  .wrapper-list {
    display: flex;
    gap: 2em;

    + .wrapper-list {
      margin-top: 4em;
    }
  }
}

@media screen and (max-width: 80em) {
  .list-invoice-two {
    margin-top: 1em;
  }
}
