<ul *ngIf="nettoCents">
  <li class="item-netto">
    <span class="text-wording">{{ 'netto' | translate }}</span>
    <span class="text-price">{{ (nettoCents / 100).toFixed(2) }} {{ 'invoice_currency_large' | translate }}</span>
  </li>
  <li class="item-tax">
    <span class="text-wording">{{ 'value_added_tax' | translate }} ({{ valueAddedTax }}%)</span>
    <span class="text-price">{{ (((nettoCents / 100) * valueAddedTax) / 100).toFixed(2) }} {{ 'invoice_currency_large' | translate }}</span>
  </li>
  <li class="item-brutto">
    <span class="text-wording">{{ 'brutto' | translate }}</span>
    <span class="text-price">{{ ((((nettoCents / 100) * valueAddedTax) + (nettoCents * 1)) / 100).toFixed(2) }} {{ 'invoice_currency_large' | translate }}</span>
  </li>
</ul>
