<div *ngIf="invoices" class="wrapper-list">
  <ul attr.data-headline="{{ 'invoices' | translate }}" >
    <ng-container *ngFor="let item of mapInvoicesToList(invoices)">
      <li [ngClass]="getCurrent() === item.index ? 'is-active' : null" (click)="setCurrent(item.index)">
        <span class="text-name">{{ item.name }}</span>
        <span class="text-price">{{ (item.price_cents / 100).toFixed(2) }} {{ 'invoice_currency_large' | translate }}</span>
        <span class="fas fa-trash" (click)="removeInvoiceByIndex(item.index)"></span>
      </li>
    </ng-container>
  </ul>

  <span class="fas fa-plus-circle" (click)="addInvoice()"></span>

  <hr />
  <app-summary-calculator class="app-item-calculator" nettoCents="{{ getNettoCents() }}" valueAddedTax="19"></app-summary-calculator>
</div>

<div class="wrapper-button">
  <button type="button" class="btn btn-primary" (click)="handleImport()">Import</button>
  <button type="button" class="btn btn-primary" (click)="handleExport()">Export</button>
</div>
