@import '../shared/mixin';

:host {
  background: #fff;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 8vh;
  min-width: 18em;
  z-index: 2;
}

[data-headline]:before {
  @include headline;
  margin: 1.5em;
}

.wrapper-list {
  flex-grow: 1;
  width: 100%;

  li {
    display: flex;
    gap: 2em;
    padding: 1em;
    white-space: nowrap;
    cursor: pointer;

    &.is-active {
      background: #fafbfc;
    }
  }

  .text-name {
    font-weight: bold;
    flex: 1;
  }

  .text-price {
    color: #9fa9b6;
  }
}

hr {
  border-width: 0;
  border-bottom: 0.125em solid #f2f5f8;
}

.app-item-calculator {
  margin: 1.5em;
  display: block;
  font-weight: bold;

  ::ng-deep .text-price {
    color: #9fa9b6;
  }
}

.fa-plus-circle {
  color: #007bff;
  font-size: 1.25em;
  margin: 0.75em;
  cursor: pointer;
}

.fa-trash {
  cursor: pointer;

  &:hover {
    color: #dc3545;
  }
}

.wrapper-button {
  padding: 1em;
  text-align: center;
  width: 100%;

  button + button {
    margin-left: 0.5em;
  }
}
